<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vstoyanov.mycar.mycarpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="vstoyanov.mycar.mycarpro.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vstoyanov.mycar.mycarpro.homescreen.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vstoyanov.mycar.mycarpro.addedit.vehicle.AddEditVehicleActivity"
            android:label="@string/title_activity_add_edit_vehicle"
            android:theme="@style/AppThemeVehicle" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.detail.vehicle.DetailVehicleActivity"
            android:label="@string/title_activity_detail_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.addedit.service.AddEditServiceActivity"
            android:label="@string/title_activity_add_edit_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.addedit.refueling.AddEditRefuelingActivity"
            android:label="@string/title_activity_add_edit_refueling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.addedit.insurance.AddEditInsuranceActivity"
            android:label="@string/title_activity_add_edit_insurance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.loginscreen.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeLoginRegister" />
        <activity
            android:name="vstoyanov.mycar.mycarpro.registerscreen.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppThemeLoginRegister" />
    </application>

</manifest>